@import '../../../../styles/settings.scss';

.goodCard {
    padding: 15px;
    border-radius: 10px;
    background-color: $primary-color;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
}

.cardInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.infoBox{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    &:first-child{
        padding-top: 0px;
    }
}
.cardImageBox {
    width: 100%;
    height: 200px;

}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cardDesc {
    padding-top: 7px;
    font-size: 18px;
    line-height: 1.4em;
    color: $title-color;
    font-weight: 600;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ratingBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.ratingStars {
    
}

.ratingCount {

}

.brandImageBox {
    max-width: 110px;
    width: 100%;
}
.brandImage{
    
}
.bottomMenu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    padding-top: 20px;
}

.coastBox {
    padding: 8px;
    border-radius: 2px;
    flex-grow: 1;
    background-color: $neutral-color;
    display: flex;
    align-items: center;
}

.oldCoast {
    color: $text-color;
    font-size: 13px;
    text-decoration: line-through;
    font-weight: 500;
    padding-left: 10px;
}

.coast {
    font-weight: 600;
    color: $secondary-color;
    font-size: 20px;
}

.discountCoast {
    color: $secondary-color;

}

.cardButton {
    display: block;
    background-color: transparent;
    border: 1px solid $text-color;
    border-radius: 9px;
    width: 40px;
    height: 40px;
}

.cardButtonImage {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin: auto;
}