@import '../../../../styles/settings.scss';

.filterAside {
    min-width: 250px;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;
    margin-top: 30px;
    background-color: $primary-color;
}

.filterAside_accardion{
    width: 100%;
    margin-top: 10px;

    &:first-child {
        margin-top: 0px;
    }
}
.filterAside_title {
    
}

.filterAside_checkbox {
    margin: 2px 0;
    padding: 2px 0;
    &:first-child{
        margin-top: 8px;
    }
}