@import '../../styles/settings.scss';

.title {
  font-weight: 700;
  position: relative;
  line-height: 1.1em;
  color: $title-color;
  font-size: 20px;
}

.title___posCetner {
  text-align: center;

}

.title___sectionTitle {
  font-size: 24px;

}

@media (min-width: 479.98px) {
  .title___sectionTitle {
    //letter-spacing: .16em;
  }
}

@media (min-width: 575.98px) {
  .title___sectionTitle {
   // letter-spacing: .15em;
  }
}

@media (min-width: 767.98px) {
  .title___sectionTitle {
   /* line-height: 1.18em;
    font-size: 24px;
    letter-spacing: .16em;*/
  }
}

@keyframes animate-down {
  0% {
    transform: translateY(-100%);

  }

  100% {
    transform: translateY(0);

  }
}