@import '../styles/settings.scss';
.home {

    background-color: $neutral-color;

}
.homeInner{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
    min-height: 100vh;

}
.homeContent{
    margin-left: 20px;
    overflow-x: hidden;

}
.homeNav{
}