@import '../styles/settings.scss';
.home {

    background-color: $neutral-color;

}
.home_inner{
    display: flex;
    padding-top: 100px;
    padding-bottom: 30px;
    min-height: 100vh;

}
.home_content{
    margin-left: 20px;
    overflow-x: hidden;

}
.home_nav{
}