@import '../../../../styles/settings.scss';

.promotion {

}

.promotionTitle {
    padding-bottom: 10px;
}

.goodCard {
    min-width: calc(33% - 11px);
    width:  calc(33% - 11px);
}

.promotionInner {
    display: flex;
    gap: 20px;
}