@import '../../../../styles/settings.scss';

.comprehensiveOffer {}

.offerTitle {
    padding-top: 15px;
    padding-bottom: 10px;

}

.offerItem {
    width: 25%;
    margin: 0 10px;
}
.offerSlide{
    margin: 0 -10px;
}