@import '../../../styles/settings.scss';

.card {
    padding: 15px;
    border-radius: 10px;
    background-color: $primary-color;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
}

.card_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card_link{
    position: relative;
}

.card_imageBox {
    width: 100%;
    height: 150px;

}

.card_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.card_desc {
    min-height: 82px;
    padding-top: 7px;
    font-size: 18px;
    line-height: 1.4em;
    color: $title-color;
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    &:hover{
        &::after{
            opacity: 0;
        }
    }
    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        transition: opacity .3s ease-in-out;
        opacity: 1;
        background: linear-gradient(rgba($primary-color, 0), $primary-color)
    }
}
.card_infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    flex-grow: 1;
    &:first-child {
        padding-top: 0px;
        justify-content: flex-start;

    }
}
.card_info {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 4px;
}

.card_rating,
.card_rating___empty {
    padding: 10px;
    border: 1px solid $text-color;
    border-radius: 7px;
}

.card_rating {
    display: flex;
    align-items: center;
}

.card_ratingStars {
    padding-right: 8px;

}

.card_ratingCount {
    padding-left: 8px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 1px;
        background-color: $text-color;

    }
}

.card_brand {
    height: 40px;
    width: 80px;
}

.card_brandImage {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.card_menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding-top: 20px;
    flex-wrap: wrap;
}

.card_cost {
    padding: 8px;
    border-radius: 4px;
    flex-grow: 1;
}

.card_button {
    border-radius: 9px;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    & img {
        width: 20px;
        height: 20px;
    }
}