@import '../../styles/settings.scss';
.button {

    display: block;
    background-color: transparent;
    border: 1px solid $text-color;
}

.button___isActive {
    border-color: $secondary-color !important;
    border-width: 4px;
}

.button_image {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin: auto;
}