@import '../../../../styles/settings.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $primary-color;
    z-index: 999;
}

.headerInner {
    display: flex;
    padding: 15px 0px;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    min-height: 50px;

}

.logoLink {
    display: block;
}

.logoImage {
    object-fit: contain;
    max-height: 50px;
    max-width: 40px;
}


.headerNavigation {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.linkButtonns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.headerSearchForm{
    width: 100%;
    height: 40px;
    display: flex;
}

.headerUser{
    min-width: 61px;
}