@import 'reset.scss';
@import 'fonts.scss';


@media (min-width: 575.98px) {
  body{
    font-size: 15px;
  }
}

@media (min-width: 991.98px) {
  body{
    font-size: 16px;
  }
}
#root{
  position: relative;
  min-height: 100vh;
}